## Getting started

Before we begin, let's cover a few basics about Jupyter (also known as iPython) notebooks. This is a markdown cell. Select a cell (a blue boundary should appear around the cell; you're in command mode) and press Enter on your keyboard to see it in editing mode (the cell boundary turns green in color). To switch back to command mode, press Esc. To run the cell, and go to the next cell, press Shift+Enter. If you want to run the cell without advancing to the next, press Ctrl+Enter.

To create a new cell below the current one, switch to command mode and then press the letter "b" on your keyboard. "a" will create a new cell above the current cell. "dd" will delete the current cell.

### Variable assignment, basic calculations, and data types

In [ ]:
## CODE CELL 1
# This is a comment. Comments will not appear in the output when a cell is run.

a = 45    # assigning the value 45 to the letter "a"
print(a)

As you may have guessed, the `print()` function displays the value of the argument that's passed to it (e.g. whatever is inside the parentheses).

In [ ]:
## CODE CELL 2
# Let's assign a couple more variables 

b = 12
c = a + b
print(c)

In [ ]:
## CODE CELL 3
# Let's increment "c" by 2

print('c =', c)
c = c + 2
print('c + 2 =', c)

Try running the previous cell again. What happens?

In [ ]:
## CODE CELL 4
# Another useful method to increment

print('c =', c)
c += 2
print('Now c =', c)

Decrementing works similarly (the operator is `-=`)
Other useful operations:

- subtraction: `a - b`
- multiplication: `a * b`
- division: `a / b`
- floor division (the integer part, or quotient, of a division operation): `a // b`
- modulo (remainder): `a % b`

In [ ]:
## CODE CELL 5
# Some of the above in action

div = a/b
print('a / b is', div)
floor = a//b
print('a // b is', floor)
mod = a%b
print('a % b is', mod)

So far, you've seen three data types: strings, integers, and floats. We can use the function `type()` to find out what data type a value or variable represents.

In [ ]:
## CODE CELL 6

type(3.75)      # this is a float

In [ ]:
## CODE CELL 7

type(3)     # this is an integer

In [ ]:
## CODE CELL 8

type('This is a string.')      # this is a string

In [ ]:
## CODE CELL 9

type("This is also a string.")     # double quotes or single quotes can be used

The `math` module is part of the standard library and has a lot of useful functions. To use it, we need to import it into this notebook.

In [ ]:
## CODE CELL 10

import math

math.sqrt(9)

In [ ]:
## CODE CELL 11

math.pi

To learn more about the various functions belonging to the `math` module, call the `help()` function on it. Alternatively, you can read the online documentation for this module here: https://docs.python.org/3/library/math.html. This applies to any module, class, function, etc. that you may want more information on.

In [ ]:
## CODE CELL 12

help(math)

To convert a number from a float into an integer, use the function `int()`:

In [ ]:
## CODE CELL 13

int(6.0)

Conversely, you can convert an integer into a float using `float()`:

In [ ]:
## CODE CELL 14

float(6)

What if we have a number in string format?

In [ ]:
## CODE CELL 15
# This doesn't work

'6.5'+7

In [ ]:
## CODE CELL 16
# This works

float('6.5')+7

If we want to convert an integer or float to a string, we can use the function `str()`:

In [ ]:
## CODE CELL 17

str(100)

### Strings: cleaning and manipulation

Indexing in Python starts from 0. That means that the first element of any string, list, array, etc. is actually considered to be element # 0.

In [ ]:
## CODE CELL 18

myString = 'Rutgers is one of the top 10 oldest colleges in the U.S.'

Accessing characters in the string:

In [ ]:
## CODE CELL 19

myString[0]

In [ ]:
## CODE CELL 20

myString[1]

You can also access characters with reference to the end of the string:

In [ ]:
## CODE CELL 21

myString[-1]

In [ ]:
## CODE CELL 22

myString[-2]

To access larger portions (called "slices") of the string, we can use the following syntax: $string[startIndex:endIndex:stepSize]$. The string returned will start from the character at index $startIndex$, but it will end with the character at index $endIndex-1$. If not specified, $stepSize$ = 1, $startIndex$ = 0, and $endIndex$ = one beyond the last index.
For example,

In [ ]:
## CODE CELL 23

myString[5:11]

In [ ]:
## CODE CELL 24

myString[1:11:2]

In [ ]:
## CODE CELL 25

myString[:11]

In [ ]:
## CODE CELL 26

myString[11:]

In [ ]:
## CODE CELL 27

myString[:]

What do you think this will yield?

In [ ]:
## CODE CELL 28

myString[-3:11:-1]

Let's look at other useful string operations.

In [ ]:
## CODE CELL 29
# How long is the string?

len(myString)

In [ ]:
## CODE CELL 30
# Concatenation

myString2 = '; it was originally "Queen\'s College".'
print(myString + myString2)

**Exercise 1:**

Take the following two "sentences": (1) Next bus: 7 minutes. (2) Travel time on bus: 5 minutes. Using string indexing, extract the number of minutes for each activity, add the two numbers to get the total time (variable *total*), and print the following message using concatentation: "Next bus: 7 minutes. Travel time on bus: 5 minutes. Total time to destination: *total*".

*Hint: You will have to do at least one data type conversion.*

**Answer 1:**

In [ ]:
## CODE CELL 31

sentence1 = 'Next bus: 7 minutes.'
sentence2 = 'Travel time on bus: 5 minutes.'
sentence3 = 'Total time to destination:'

## ENTER CODE HERE



There's a lot you can do with strings! Let's go through a few useful methods:

In [ ]:
## CODE CELL 32
# Converting to all lower case

new = 'RU'
new.lower()

In [ ]:
## CODE CELL 33
# Converting to all upper case

new.lower().upper()

Notice that you can use multiple methods in the same line; in the above cell, the method `str.upper()` is executed on the string to the left of the dot before `upper()`, which in this case is `new.lower()`.

In [ ]:
## CODE CELL 34
# Removing leading and trailing characters

s = 'aaaabcccHow are you doing?aayzz'
s.strip('abcyz')

In [ ]:
## CODE CELL 35
# Removing leading and trailing whitespace

t = '  Could be worse.  '
t.strip()

In [ ]:
## CODE CELL 36
# Removing leading characters only

u = '???How is the family?'
u.lstrip('?')

In [ ]:
## CODE CELL 37
# Removing trailing characters only

v = '...Alice twisted her ankle playing basketball on Saturday...'
v.rstrip('.')

In [ ]:
## CODE CELL 38
# Finding the first position(index) of a character 

v.find('l')

In [ ]:
## CODE CELL 39
# str.find() can also be used for a substring; it returns the index of the first character in the substring

v.find('Alice')

In [ ]:
## CODE CELL 40
# Replacing all instances of a character or substring

y = 'Day 1: Prep. Day 2: Execute. Day 3: Review.'
y.replace('Day ', '')

Notice that you can remove characters from a string by substituting in an empty string. Strings are immutable; that is, you can't add characters to or remove characters from a string. You can create a new string through concatenation or slicing that has more or fewer characters, **but the original string cannot be altered**. Whenever you apply a method to a string, you're just creating a new string. (You can assign the new string to the original variable and thereby appear to "change" the original string, but you are still creating a new string in the process. The original variable simply stores the new string instead of the old string.)

In [ ]:
## CODE CELL 41

y    # y still has its original value

In [ ]:
## CODE CELL 42
# To "save your changes", assign the new string to a variable

new_y = y.replace('Day ', '')
new_y

In [ ]:
## CODE CELL 43
# Splitting a string into a list of words

z = 'Once upon a time in a land far, far away...'
z.split()

** The escape character **

Let's look at the following string:

In [ ]:
## CODE CELL 44
# What happens when you try to print it?

print('We will meet at 4 o'clock.')

What happened? Essentially, once you start a string with a single quote, Python will take the next single quote it sees as a signal to end the string (and similarly with double quotes). Here, that means that {clock.} is seen as something undefined that is outside the string - and Python does not like this. 

There are two ways around this. One is to use the "other" quotation mark type inside the string - so if you're using single quotes inside the string, use double quotes around the string, and vice versa. The other is "escaping" the internal quotation marks by using a backslash ("\") just before the quotation mark like so:

In [ ]:
## CODE CELL 45
# Python is ok with this

print('We will meet at 4 o\'clock.')

This way, we're letting Python know that the internal single quotes should be treated as part of the ongoing string.

Finally, how can we introduce whitespace characters like tabs into a string? Answer: we use escape sequences.

In [ ]:
## CODE CELL 46
# To introduce a tab character, use \t

score = 'Home:\t16'
print(score)

In [ ]:
## CODE CELL 47
# To introduce a newline character (similar to pressing Enter on your keyboard), use \n

scores = 'Home:\t16\nAway:\t24'
print(scores)

### Lists: working with a data collection

Many of the operations we used with strings can be applied to lists as well, including
- indexing
- slicing
- finding the length
- concatenation

In [ ]:
## CODE CELL 48
# Creating a list of the top 40 U.S. cities by population

topcities = ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Philadelphia', 'Phoenix', 'San Antonio', 'San Diego',
         'Dallas', 'San Jose', 'Austin', 'Jacksonville', 'San Francisco', 'Indianapolis', 'Columbus', 'Fort Worth',
         'Charlotte', 'Seattle', 'Denver', 'El Paso', 'Detroit', 'Washington', 'Boston', 'Memphis', 'Nashville', 'Portland',
         'Oklahoma City', 'Las Vegas', 'Baltimore', 'Louisville', 'Milwaukee', 'Albuquerque', 'Tucson', 'Fresno', 'Sacramento',
         'Kansas City', 'Long Beach', 'Mesa', 'Atlanta', 'Colorado Springs']
print(topcities)

In [ ]:
## CODE CELL 49
# Which is the 5th most populous city?

topcities[4]

In [ ]:
## CODE CELL 50
# Which cities are ranked #11-#20?

topcities[10:20]

In [ ]:
## CODE CELL 51
# Are there really 40 cities in the list?

len(topcities)

In [ ]:
## CODE CELL 52
# Let's add the next 5 cities to topcities

cities41to45 = ['Virginia Beach', 'Raleigh', 'Omaha', 'Miami', 'Oakland']
topcities + cities41to45

However, **lists, unlike strings, are mutable** - their identities can be changed in-place without creating a new list.

In [ ]:
## CODE CELL 53
# Another way to add multiple items to the list is to use the "extend" method

topcities.extend(cities41to45)
len(topcities)
#print(topcities)

In [ ]:
## CODE CELL 54
# You can also add items one at a time using the "append" method

topcities.append('Minneapolis')
topcities[-2:]   # let's just look at the end of the list

In [ ]:
## CODE CELL 55
# Is Orlando in the list?

'Orlando' in topcities

In [ ]:
## CODE CELL 56
# Is Dallas in the list?

'Dallas' in topcities

In [ ]:
## CODE CELL 57
# Which position is Dallas in?

topcities.index('Dallas')

In [ ]:
## CODE CELL 58
# Let's get the list in alphabetical order

topcities.sort()
topcities[:10]   # just looking at the first 10 to verify sorting

In [ ]:
## CODE CELL 59
# Sorting also works on numbers

newList = [3,53,7,768,7,4,563]
newList.sort()
newList

You can even create a list of lists.

In [ ]:
## CODE CELL 60
# Indexing with a list of lists

nestedList = [[1,2,3],[2,4,6],[3,6,9],[4,8,12]]
print(nestedList[0])

In [ ]:
## CODE CELL 61
# Accessing a single element in a sublist

print(nestedList[0][2])

In [ ]:
## CODE CELL 62
# Slicing

print(nestedList[:2])

There's a lot you can do with lists. A brief overview can be found here: https://www.tutorialspoint.com/python/python_lists.htm; full documentation can be found at the official Python documentation page.

**Exercise 2:**

You have a class of students whose scores on the last exam were as follows: 89, 79, 83, 85, 95, 50, 77, 90, 100, 91, 69, 87, 93, 88. Find the median score by taking the average of the two "middle" scores. 

*Hint: First, sort the scores. To find the locations of the "middle" scores, first determine the number of scores you're dealing with using the len() function.*

**Answer 2:**

In [ ]:
## CODE CELL 63

scores = [89, 79, 83, 85, 95, 50, 77, 90, 100, 91, 69, 87, 93, 88]

## ENTER CODE HERE

*Note:*

Jupyter Notebook is a more interactive environment, and that means that you can get away with just typing the name of a variable and running the cell to get the value stored in that variable as output. If you're writing code in a script (e.g. a .py file such as those created in the IDLE or Spyder Python environments), you will need to use the `print()` function to explicitly show the "contents" of the variable.

*References*:

The following materials were consulted during development of this notebook:

J. Zelle, *Python Programming: An Introduction to Computer Science*, 2nd ed. Sherwood, Oregon: Franklin, Beedle & Associates Inc., 2010.

Python 3 Documentation from the Python Software Foundation: https://docs.python.org/3/