## Getting started

Before we begin, let's cover a few basics about Jupyter (also known as iPython) notebooks. This is a markdown cell. Select a cell (a blue boundary should appear around the cell; you're in command mode) and press Enter on your keyboard to see it in editing mode (the cell boundary turns green in color). To switch back to command mode, press Esc. To run the cell, and go to the next cell, press Shift+Enter. If you want to run the cell without advancing to the next, press Ctrl+Enter.

To create a new cell below the current one, switch to command mode and then press the letter "b" on your keyboard. "a" will create a new cell above the current cell. "dd" will delete the current cell.

### Variable assignment, basic calculations, and data types

In [24]:
# This is a comment. Comments will not appear in the output when a cell is run.

a = 45    # assigning the value 45 to the letter "a"
print(a)

45

As you may have guessed, the **print()** function displays the value of the argument that's passed to it (e.g. whatever is inside the parentheses).

In [4]:
# Let's assign a couple more variables 

b = 12
c = a + b
print(c)

57

In [5]:
# Let's increment "c" by 2

print('c =', c)
c = c + 2
print('c + 2 =', c)

c = 57
c + 2 = 59

Try running the previous cell again. What happens?

In [6]:
# Another useful method to increment

print('c =', c)
c += 2
print('Now c =', c)

c = 59
Now c = 61

Decrementing works similarly (the operator is -=)
Other useful operations:

- subtraction: a - b
- multiplication: a * b
- division: a / b
- floor division (the integer part, or quotient, of a division operation): a // b
- modulo (remainder): a % b

In [7]:
# Some of the above in action

div = a/b
print('a / b is', div)
floor = a//b
print('a // b is', floor)
mod = a%b
print('a % b is', mod)

a / b is 3.75
a // b is 3
a % b is 9

So far, you've seen three data types: strings, integers, and floats. We can use the function **type()** to find out what data type a value or variable represents

In [8]:
type(3.75)      # this is a float

float

In [9]:
type(3)     # this is an integer

int

In [10]:
type('This is a string.')      # this is a string

str

In [1]:
type("This is also a string.")     # double quotes or single quotes can be used

str

The **math** module is part of the standard library and has a lot of useful functions. To use it, we need to import it into this notebook.

In [2]:
import math

math.sqrt(9)

3.0

In [3]:
math.pi

3.141592653589793

To learn more about the various functions belonging to the **math** module, call the **help** function on it. Alternatively, you can read the online documentation for this module here: https://docs.python.org/3/library/math.html. This applies to any module, class, function, etc. that you may want more information on.

In [4]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(...)
        acos(x)

        Return the arc cosine (measured in radians) of x.

    acosh(...)
        acosh(x)

        Return the inverse hyperbolic cosine of x.

    asin(...)
        asin(x)

        Return the arc sine (measured in radians) of x.

    asinh(...)
        asinh(x)

        Return the inverse hyperbolic sine of x.

    atan(...)
        atan(x)

        Return the arc tangent (measured in radians) of x.

    atan2(...)
        atan2(y, x)

        Return the arc tangent (measured in radians) of y/x.
        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(...)
        atanh(x)

        Return the inverse hyperbolic tangent of x.

    ceil(...)
        ceil(x)

        Return the ceiling of x as an Integral.
        This is the smallest integer >= x.

    copysign(...)
        copysign(x, y)

        Return a float with the magnitude (absolute value) of x but the sign
        of y. On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(...)
        cos(x)

        Return the cosine of x (measured in radians).

    cosh(...)
        cosh(x)

        Return the hyperbolic cosine of x.

    degrees(...)
        degrees(x)

        Convert angle x from radians to degrees.

    erf(...)
        erf(x)

        Error function at x.

    erfc(...)
        erfc(x)

        Complementary error function at x.

    exp(...)
        exp(x)

        Return e raised to the power of x.

    expm1(...)
        expm1(x)

        Return exp(x)-1.
        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(...)
        fabs(x)

        Return the absolute value of the float x.

    factorial(...)
        factorial(x) -> Integral

        Find x!. Raise a ValueError if x is negative or non-integral.

    floor(...)
        floor(x)

        Return the floor of x as an Integral.
        This is the largest integer <= x.

    fmod(...)
        fmod(x, y)

        Return fmod(x, y), according to platform C.  x % y may differ.

    frexp(...)
        frexp(x)

        Return the mantissa and exponent of x, as pair (m, e).
        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(...)
        fsum(iterable)

        Return an accurate floating point sum of values in the iterable.
        Assumes IEEE-754 floating point arithmetic.

    gamma(...)
        gamma(x)

        Gamma function at x.

    gcd(...)
        gcd(x, y) -> int
        greatest common divisor of x and y

    hypot(...)
        hypot(x, y)

        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(...)
        isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0) -> bool

        Determine whether two floating point numbers are close in value.

           rel_tol
               maximum difference for being considered "close", relative to the
               magnitude of the input values
            abs_tol
               maximum difference for being considered "close", regardless of the
               magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(...)
        isfinite(x) -> bool

        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(...)
        isinf(x) -> bool

        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(...)
        isnan(x) -> bool

        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(...)
        ldexp(x, i)

        Return x * (2**i).

    lgamma(...)
        lgamma(x)

        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x[, base])

        Return the logarithm of x to the given base.
        If the base not specified, returns the natural logarithm (base e) of x.

    log10(...)
        log10(x)

        Return the base 10 logarithm of x.

    log1p(...)
        log1p(x)

        Return the natural logarithm of 1+x (base e).
        The result is computed in a way which is accurate for x near zero.

    log2(...)
        log2(x)

        Return the base 2 logarithm of x.

    modf(...)
        modf(x)

        Return the fractional and integer parts of x.  Both results carry the sign
        of x and are floats.

    pow(...)
        pow(x, y)

        Return x**y (x to the power of y).

    radians(...)
        radians(x)

        Convert angle x from degrees to radians.

    sin(...)
        sin(x)

        Return the sine of x (measured in radians).

    sinh(...)
        sinh(x)

        Return the hyperbolic sine of x.

    sqrt(...)
        sqrt(x)

        Return the square root of x.

    tan(...)
        tan(x)

        Return the tangent of x (measured in radians).

    tanh(...)
        tanh(x)

        Return the hyperbolic tangent of x.

    trunc(...)
        trunc(x:Real) -> Integral

        Truncates x to the nearest Integral toward 0. Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

Note that a calculation involving at least one float will yield a result that is a float.

In [5]:
math.sqrt(9) + 3

6.0

In [6]:
math.sqrt(9) + 3.0

6.0

To convert a number from a float into an integer, use the function **int()**:

In [16]:
int(math.sqrt(9) + 3)

6

This also work for a string -> integer conversion:

In [23]:
print('What is int("6")?:', int('6'))

What is int("6")?: 6

Note that we used double quotation marks inside the first string in the print statement. What would have happened if we used single quotation marks?

In [25]:
print('What is int('6')?:', int('6'))

SyntaxError: invalid syntax (<ipython-input-25-2027ffc95d9a>, line 1)

What happened? Essentially, once you start a string with a single quote, Python will take the next single quote it sees as a signal to end the string (and similarly with double quotes). Here, that means the "6" in the first part of the statement is seen as an integer that hasn't been separated from the strings on either side of it - and Python does not like this. 

There are two ways around this. One is to use the "other" quotation mark type inside the string - so if you're using single quotes to denote the string, use double quotes inside the string, and vice versa. The other is "escaping" the internal quotation marks by using a backslash ("\") just before the quotation mark like so:

In [26]:
print('What is int(\'6\')?:', int('6'))

What is int('6')?: 6

This way, we're letting Python know that the internal single quotes should be treated as part of the ongoing string.

Finally, if we want to convert an integer or float to a string, we can use the function **str()**:

In [42]:
print('str(100) is', str(100))
print(type(str(100)))

str(100) is 100
<class 'str'>

### Strings: cleaning and manipulation

Indexing in Python starts from 0. That means that the first element of any string, list, array, etc. is actually considered to be element # 0.

In [82]:
myString = 'Rutgers is one of the top 10 oldest colleges in the U.S.'

Accessing characters in the string:

In [83]:
myString[0]

'R'

In [84]:
myString[1]

'u'

You can also access characters with reference to the end of the string:

In [85]:
myString[-1]

'.'

In [86]:
myString[-2]

'S'

To access larger portions (called "slices") of the string, we can use the following syntax: $string[startIndex:endIndex:stepSize]$. The string returned will start from the character at index $startIndex$, but it will end with the character at index $endIndex-1$. If not specified, $stepSize$ = 1, $startIndex$ = 0, and $endIndex$ = one beyond the last index.
For example,

In [104]:
myString[5:11]

'rs is '

In [105]:
myString[1:11:2]

'ugr s'

In [106]:
myString[:11]

'Rutgers is '

In [107]:
myString[11:]

'one of the top 10 oldest colleges in the U.S.'

In [108]:
myString[:]

'Rutgers is one of the top 10 oldest colleges in the U.S.'

What do you think this will yield?

In [109]:
myString[-3:11:-1]

'.U eht ni segelloc tsedlo 01 pot eht fo en'

Let's look at other useful string operations.

In [93]:
# How long is the string?

len(myString)

56

In [98]:
# Concatenation

myString2 = '; it was originally "Queen\'s College".'
print(myString + myString2)

Rutgers is one of the top 10 oldest colleges in the U.S.; it was originally "Queen's College".

In [100]:
# Repetition

new = 'RU'
new*3

'RURURU'

Here are some convenient string methods:

In [101]:
# Converting to all lower case

new.lower()

'ru'

In [103]:
# Converting to all upper case

new.lower().upper()

'RU'

Notice that you can use multiple methods in the same line; in the above cell, the method *str.upper()* is executed on the string to the left of the dot before "upper", which in this case is *new.lower()*.

In [117]:
# Removing leading and trailing characters

s = 'aaaabcccHow are you doing?aayzz'
s.strip('abcyz')

'How are you doing?'

In [118]:
# Removing leading and trailing whitespace

t = '  Could be worse.  '
t.strip()

'Could be worse.'

In [121]:
# Removing leading characters only

u = '???How is the family?'
u.lstrip('?')

'How is the family?'

In [127]:
# Removing trailing characters only

v = '...Alice twisted her ankle playing basketball on Saturday...'
v.rstrip('.')

'...Alice twisted her ankle playing basketball on Saturday'

In [130]:
# Finding the first position(index) of a character 

v.find('l')

4

In [132]:
# str.find() can also be used for a substring; it returns the index of the first character in the substring

v.find('Alice')

3

In [10]:
# Replacing all instances of a character or substring

y = 'Day 1: Prep. Day 2: Execute. Day 3: Review.'
y.replace('Day ', '')

'1: Prep. 2: Execute. 3: Review.'

Notice that you can remove characters from a string by substituting in an empty string. Strings are immutable; that is, you can't add characters to or remove characters from a string. You can create a new string through concatenation or slicing that has more or fewer characters, **but the original string cannot be altered**. Whenever you apply a method to a string, you're just creating a new string.

In [12]:
y    # y still has its original value

'Day 1: Prep. Day 2: Execute. Day 3: Review.'

In [14]:
# To "save your changes", create a new string

new_y = y.replace('Day ', '')
new_y

'1: Prep. 2: Execute. 3: Review.'

In [135]:
# Splitting a string into a list of words

z = 'Once upon a time in a land far, far away...'
z.split()

['Once', 'upon', 'a', 'time', 'in', 'a', 'land', 'far,', 'far', 'away...']

Finally, how can we introduce characters like tabs into a string? Answer: we use escape sequences.

In [144]:
# To introduce a tab character, use \t

score = 'Home:\t16'
print(score)

Home:	16

In [142]:
# To introduce a newline character (similar to pressing Enter on your keyboard), use \n

scores = 'Home:\t16\nAway:\t24'
print(scores)

Home:	16
Away:	24

### Lists: working with a data collection

Many of the operations we used with strings can be applied to lists as well, including
- indexing
- slicing
- finding the length
- concatenation
- repetition

In [83]:
# Creating a list of the top 40 U.S. cities by population

topcities = ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Philadelphia', 'Phoenix', 'San Antonio', 'San Diego',
         'Dallas', 'San Jose', 'Austin', 'Jacksonville', 'San Francisco', 'Indianapolis', 'Columbus', 'Fort Worth',
         'Charlotte', 'Seattle', 'Denver', 'El Paso', 'Detroit', 'Washington', 'Boston', 'Memphis', 'Nashville', 'Portland',
         'Oklahoma City', 'Las Vegas', 'Baltimore', 'Louisville', 'Milwaukee', 'Albuquerque', 'Tucson', 'Fresno', 'Sacramento',
         'Kansas City', 'Long Beach', 'Mesa', 'Atlanta', 'Colorado Springs']
print(topcities)

['New York', 'Los Angeles', 'Chicago', 'Houston', 'Philadelphia', 'Phoenix', 'San Antonio', 'San Diego', 'Dallas', 'San Jose', 'Austin', 'Jacksonville', 'San Francisco', 'Indianapolis', 'Columbus', 'Fort Worth', 'Charlotte', 'Seattle', 'Denver', 'El Paso', 'Detroit', 'Washington', 'Boston', 'Memphis', 'Nashville', 'Portland', 'Oklahoma City', 'Las Vegas', 'Baltimore', 'Louisville', 'Milwaukee', 'Albuquerque', 'Tucson', 'Fresno', 'Sacramento', 'Kansas City', 'Long Beach', 'Mesa', 'Atlanta', 'Colorado Springs']

In [84]:
# Which is the 5th most populous city?

topcities[4]

'Philadelphia'

In [85]:
# Which cities are ranked #11-#20?

topcities[10:20]

['Austin',
 'Jacksonville',
 'San Francisco',
 'Indianapolis',
 'Columbus',
 'Fort Worth',
 'Charlotte',
 'Seattle',
 'Denver',
 'El Paso']

In [86]:
# Are there really 40 cities in the list?

len(topcities)

40

In [87]:
# Say we want to double the list

repeated = topcities*2
len(repeated)

80

In [88]:
# Let's add the next 5 cities to topcities

cities41to45 = ['Virginia Beach', 'Raleigh', 'Omaha', 'Miami', 'Oakland']
topcities + cities41to45

['New York',
 'Los Angeles',
 'Chicago',
 'Houston',
 'Philadelphia',
 'Phoenix',
 'San Antonio',
 'San Diego',
 'Dallas',
 'San Jose',
 'Austin',
 'Jacksonville',
 'San Francisco',
 'Indianapolis',
 'Columbus',
 'Fort Worth',
 'Charlotte',
 'Seattle',
 'Denver',
 'El Paso',
 'Detroit',
 'Washington',
 'Boston',
 'Memphis',
 'Nashville',
 'Portland',
 'Oklahoma City',
 'Las Vegas',
 'Baltimore',
 'Louisville',
 'Milwaukee',
 'Albuquerque',
 'Tucson',
 'Fresno',
 'Sacramento',
 'Kansas City',
 'Long Beach',
 'Mesa',
 'Atlanta',
 'Colorado Springs',
 'Virginia Beach',
 'Raleigh',
 'Omaha',
 'Miami',
 'Oakland']

Did $topcities$ grow in length after concatenation?

In [89]:
len(topcities)

40

However, **lists, unlike strings, are mutable** - their identities can be changed in-place without creating a new list.

In [90]:
# Another way to add multiple items to the list is to use the "extend" method

topcities.extend(cities41to45)
len(topcities)
#print(topcities)

45

In [91]:
# You can also add items one at a time using the "append" method

topcities.append('Minneapolis')
topcities[-2:]   # let's just look at the end of the list

['Oakland', 'Minneapolis']

In [92]:
# Is Orlando in the list?

'Orlando' in topcities

False

In [93]:
# Is Dallas in the list?

'Dallas' in topcities

True

In [94]:
# Which position is Dallas in?

topcities.index('Dallas')

8

In [98]:
# Let's get the list in alphabetical order

topcities.sort()
topcities[:10]   # just looking at the first 10 to verify sorting

['Albuquerque',
 'Atlanta',
 'Austin',
 'Baltimore',
 'Boston',
 'Charlotte',
 'Chicago',
 'Colorado Springs',
 'Columbus',
 'Dallas']

In [101]:
# Sorting also works on numbers

newList = [3,53,7,768,7,4,563]
newList.sort()
newList

[3, 4, 7, 7, 53, 563, 768]

There's a lot you can do with lists. A brief overview can be found here: https://www.tutorialspoint.com/python/python_lists.htm; full documentation can be found at the official Python documentation page.

*References*:

The following materials were consulted during development of this notebook:

Zelle, John. *Python Programming: An Introduction to Computer Science*. 2nd ed.

Python 3 Documentation: https://docs.python.org/3/